table.blueTable {
    border: 3px solid #A4A4A4;
    background-color: #EEE7DB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 17px;
    font-weight: bold;
}
table.blueTable tr:nth-child(even) {
    background: #B3B7C6;
}
table.blueTable thead {
    background: #192639;
    border-bottom: 1px solid #000000;
}
table.blueTable thead th {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #000000;
}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #192639;
}
table.blueTable tfoot td {
    font-size: 13px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #000000;
    padding: 2px 8px;
    border-radius: 5px;
}

